[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree
